.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  margin-top: 2rem;
  width: 90vw;
}

footer {
  width: 90vw;
}

.footer-info {
  display: flex;
  margin: 0 auto;
  width: 500px;
  justify-content: space-around;
}

.footer-info a {
  margin: 10px;
}

.footer-info img {
  transition: all 0.3s ease-in-out;
  margin: 10px;
}

.footer-info img:hover {
  margin: 7.5px;
  width: 75px;
  height: 75px;
}

.logo {
  height: 15vmin;
  pointer-events: none;
}

@media only screen and (max-width: 750px) {

  .App {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
  }

  header {
    position: absolute;
    top: -20px;
  }

  footer {
    position: absolute;
    bottom: 0px;
    width: 70vw;
    margin: 0 auto;
  }

  footer p {
    margin: 0;
    padding: 0;
  }

  .footer-info {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
  }

  .footer-info img {
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
  }

  .footer-info img:hover {
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 320px) {

  footer {
    position: absolute;
    bottom: 0px;
    width: 70vw;
    margin: 0 auto;
    padding: 0;
  }

  footer p {
    margin: 0;
    padding: 0;
  }

  .footer-info {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
  }

  .footer-info img {
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;
  }

  .footer-info img:hover {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
  }
}